# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Python package cache
pip-log.txt
pip-delete-this-directory.txt

# Project runtime data
backend/data/
backend/data/*.json
backend/data/chroma_db/
backend/data/*.sqlite

# Streamlit
.streamlit/

# Logs
*.log

# IDE
.vscode/
.idea/
